streamlit==1.55.0
pandas==2.3.1
numpy==2.3.1
plotly==6.3.1
geopandas==1.1.2
folium==0.20.0
streamlit-folium==0.26.2
matplotlib==3.10.3
pyogrio==0.12.1
pyproj==3.7.2
shapely==2.1.2
RapidFuzz==3.14.1
Unidecode==1.4.0
scikit-learn==1.7.2